%div(ng-controller='BooksCtrl')
  %form.form-horizontal(ng-submit='createBook()' ng-show='showForm' role='form')
    .row
      .col-md-6
        .form-group
          %label.col-lg-2.control-label(for='title') Titre
          .col-lg-10
            %input.form-control(id='title' type='text' ng-model='book.title' required)

        .form-group
          %label.col-lg-2.control-label(for='isbn') ISBN
          .col-lg-10
            %input.form-control(type='text' id='isbn' ng-model='book.isbn')

        .form-group
          %label.col-lg-2.control-label(for='distributor')
            Distributeur
          .col-lg-10
            .input-group
              %select.form-control(ng-model='book.distributor_id' ng-options='distributor.id as distributor.name for distributor in distributors' id='distributor')
              %span.input-group-btn
                %button.btn.btn-default(type='button' data-display="distributorBox" title="Créer un nouveau distributeur") +

        .form-group
          %label.col-lg-2.control-label(for='publisher')
            Éditeur
          .col-lg-10
            .input-group
              %select.form-control(ng-model='book.publisher_id' ng-options='publisher.id as publisher.name for publisher in publishers' id='publisher')
              %span.input-group-btn
                %a.btn.btn-default(href="#" data-display="publisherBox" title="Créer un nouvel éditeur") +

        .form-group(ng-show='book.publisher_id')
          %label.col-lg-2.control-label(for='collection')
            Collection
          .col-lg-10
            .input-group
              %select.form-control(ng-model='book.collection_id' ng-options='collection.id as collection.name for collection in book.publisher.collections' id='collection')
              %span.input-group-btn
                %button.btn.btn-default(type='button' data-display="collectionBox" title="Créer une nouvelle collection") +

        .form-group
          %label.col-lg-2.control-label(for='bookAuthor')
            Auteurs
          .col-lg-10
            .input-group
              %select.form-control(ng-model="book.author_ids" data-placeholder="Choisissez un auteur" multiple id="bookAuthor")
                %option(value="")
                %option(ng-repeat="author in authors" value="{{author.id}}") {{ author.lastname }} {{ author.firstname }}
              %span.input-group-btn
                %a.btn.btn-default(href="#" data-display="authorBox" title="Créer un nouvel auteur") +

      .col-md-6

        .form-group
          %label.col-lg-2.control-label(for='price') Prix
          .col-lg-10
            %input.form-control(id='price' type='text' ng-model='book.price')

        .form-group
          %label.col-lg-2.control-label(for='buy') Qté achat ferme
          .col-lg-10
            %input.form-control(id='price' type='number' ng-model='book.buy')

        .form-group
          %label.col-lg-2.control-label(for='deposit') Qté en dépot
          .col-lg-10
            %input.form-control(id='price' type='number' ng-model='book.deposit')

        .form-group
          %label.col-lg-2.control-label(for='bookTag')
            Catégories
          .col-lg-10
            .input-group
              %select.form-control(ng-model="book.tag_ids" data-placeholder="Choisissez une catégorie"  multiple id="bookTag")
                %option(value="")
                %option(ng-repeat="tag in tags" value="{{tag.id}}") {{ tag.name}}
              %span.input-group-btn
                %a.btn.btn-default(href="#" data-display="tagBox" title="Créer une nouvelle catégorie") +

        .form-group
          %label.col-lg-2.control-label(for='summary')
            Résumé
          .col-lg-10
            %textarea.form-control(ng-model='book.summary' id='summary')
      .row
        .col-lg-12
          .col-lg-2.book-submit
            %button.btn.btn-primary(type="submit") Valider

  %button.btn.btn-default(ng-click='showForm=!showForm' ng-hide='showForm') Nouveau
  %button.btn.btn-default(ng-click='showForm=!showForm' ng-show='showForm') Annuler

  
  = render 'author'
  = render 'publisher'
  = render 'collection'
  = render 'distributor'
  = render 'tag'
  = render 'edit'

  %hr
  .row
    .col-lg-4.col-md-offset-8
      .form-horizontal
        .form-group
          .col-lg-8    
            %input.form-control(type="text" ng-model="filterGrid" id="search" placeholder="Recherche")
          .col-lg-4
            %select.form-control(ng-model="filterType")
              %option(value="title") Par titre
              %option(value="author") Par auteur
              %option(value="tag") Par catégorie
              %option(value="isbn") Par ISBN
  .row
    .col-lg-12
      .grid(ng-grid="gridOptions")

