!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Librairie Remix"
      %meta{:content => content_for?(:description) ? yield(:description) : "Librairie Remix", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}(ng-app='Librairie')
    
    %nav.navbar.navbar-default(role="navigation")
      = render 'layouts/navigation'

    .custom-container
      .row
        .col-lg-12
          .well
            / .col-md-12
            = render 'layouts/messages'
            = yield
  
      / ! end of .container
    / ! end of #main
